---
# Handlers for Dolibarr role

- name: Restart Apache
  ansible.builtin.service:
    name: apache2
    state: restarted

- name: Reload Apache
  ansible.builtin.service:
    name: apache2
    state: reloaded

- name: Restart MariaDB
  ansible.builtin.service:
    name: mariadb
    state: restarted
