name,vmid,environment,datacenter,cluster,datastore,description,cores,memory,disk_size,ip,gateway,mac,tags,ansible_groups,playbooks,playbook_vars
app-prod01,1001,prod,DC1,Cluster1,datastore1,Application Production,4,8192,100,192.168.2.100,192.168.2.1,00:50:56:XX:XX:XX,"terraform,prod,app,rhel","prod,appservers","post-installation.yml,deploy-app.yml",app_port=8080;
web-prod01,1002,prod,DC1,Cluster1,datastore1,Serveur Web Production,2,4096,50,192.168.2.101,192.168.2.1,00:50:56:XX:XX:YY,"terraform,prod,web,ubuntu","prod,webservers","post-installation.yml,nginx-setup.yml",web_port=80;
